<ng-container>
  <div *ngIf="isDataLoaded">
    <mat-card class="retro-details">
      <div>
        <span><b>{{ retroSpectiveData.Title }}</b></span>&nbsp;|&nbsp;
        <span>Project:<b> {{ retroSpectiveData.ProjectName }}</b></span>&nbsp;|&nbsp;
        <span>Team: <b>{{ retroSpectiveData.Team.Name }}</b></span>&nbsp;|&nbsp;
        <span>Created At: <b>{{ retroSpectiveData.CreatedAt | date:dateFormat}}</b></span>&nbsp;|&nbsp;
        <span>Created By: <b>{{ getCreatorName() }}</b></span>&nbsp;|&nbsp;
        <span>Hours Per Story Point: <b>{{ retroSpectiveData.HoursPerSprint }}</b></span>
      </div>
      <div class="action-buttons">
        <button mat-raised-button
                class="add-sprint"
                (click)="createNewSprint()">
          Add a New Sprint
        </button>
      </div>
    </mat-card>
  </div>
  <app-sprint-list [retroSpectiveData]="retroSpectiveData"></app-sprint-list>
</ng-container>
