.retro-details {
  div:not(.action-buttons) {
    float: left;
    margin: -10px;
  }
  .action-buttons {
    float: right;
    margin: -18px;
    button {
      margin-right: 5px;
      color: white;
    }
    .add-sprint {
      background-color: #3293d2;
    }
  }
}
