<ng-container>
    <mat-list class="trails">
        <mat-list-item *ngFor="let data of responseData;let i = index" >
            <div class="trails-date-space">
                <div *ngIf="isDateChange(i); else displayDateTime" class="trails-time">
                    {{ data['CreatedAt'] | date:'mediumTime' }}
                </div>
                <ng-template #displayDateTime>
                    {{ data['CreatedAt'] | date:'medium' }}
                </ng-template>
            </div>
            <div class="each-trail">
                <span class="action-by">
                    {{ data['ActionBy']['FirstName'] | titlecase }}
                    {{ data['ActionBy']['LastName'] | titlecase }}
                </span>
                <span>
                    {{ data['Action'] }}
                </span>
            </div>
        </mat-list-item>
    </mat-list>
</ng-container>
