<ng-container>
    <mat-list class="trails">
        <mat-list-item *ngFor="let data of responseData;let i = index" >
            <div class="trails-date-space">
                <div *ngIf=isDateChange(i) class="trails-date">
                    {{trailsDate}}
                </div>
            </div>
            <div class="each-trail">
                <span class="action-by">
                    {{ data['ActionBy']['FirstName'] | titlecase }} 
                    {{ data['ActionBy']['LastName'] | titlecase }}
                </span>
                <span>
                    {{ data['Action'] }}
                </span>
            </div>
        </mat-list-item>
    </mat-list>
</ng-container>
