.trails-date {
    color: black;
    font-size: medium;
    padding: 10px;
    font-weight: bold;
}

.trails-date-space {
    width: 150px;
}

.trails {
    font-size: small;
    overflow: scroll;
    height: 270px;
    padding: 10px;
    background-color: whitesmoke;
}

.each-trail {
    padding: 10px;
    margin-left: 10px;
}

.action-by {
    color: #2196f3;
}
