.field-with-hint {
    padding-bottom: 30px;

    mat-hint {
        display: flex;

        mat-icon {
            font-size: 24px;
            visibility: visible;
        }
    }

    span {
        padding-left: 5px;
        display: inline-block;
        line-height: 15px;
    }
    /* stylelint-disable */
    ::ng-deep .mat-form-field-subscript-wrapper {
        /* stylelint-enable */
        background-color: #f2f2f2;
        margin-top: 0;
        box-sizing: border-box;
        padding: 7px 4px;
    }
}

.mat-form-field {
    .mat-icon {
        visibility: hidden;
    }

    .mat-chip-list .mat-icon {
        visibility: visible;
    }

    .mat-chip {
        background: #2196f3;
        color: white;
    }

    .mat-chip-remove {
        color: white;
    }

    &:hover {
        background-color: #f4f5f7;

        .mat-icon {
            visibility: visible;
        }
    }
}

.block-cursor {
    cursor: not-allowed;
    /* stylelint-disable */
    ::ng-deep .mat-select-disabled .mat-select-trigger {
        /* stylelint-enable */
        cursor: not-allowed;
    }

    input {
        cursor: not-allowed;
    }
}
