<div [formGroup]="taskProviderFormGroup" *ngIf="isInitialized">
  <mat-form-field floatLabel="always">
    <mat-label></mat-label>
    <mat-select [formControlName]="selectedTaskProviderKey" placeholder="Select a Task Provider"
                (selectionChange)="onProviderChange($event.value)">
      <mat-option *ngFor="let provider of taskProviderOptions" [value]="provider.Type">{{provider.DisplayTitle}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="showConfigFields">
    <div formGroupName="Credentials">
      <app-task-provider-auth
        [authFormGroup]="taskProviderFormGroup.controls['Credentials']"
        [supportedAuthTypes]="selectedTaskProviderConfigOptions['supportedAuthTypes']"
      ></app-task-provider-auth>
    </div>
    <div [formGroupName]="taskProviderConfigKey">
      <div *ngFor="let field of selectedTaskProviderConfigOptions['fields']">
        <mat-form-field>
          <input matInput [placeholder]="field.FieldDisplayName" [formControlName]="field.FieldName"/>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
