<div [formGroup]="taskProviderFormGroup" *ngIf="isInitialized">
    <div class="layout-row">
        <mat-form-field floatLabel="always" class="task-provider-select flex">
            <mat-label></mat-label>
            <mat-select [formControlName]="selectedTaskProviderKey" placeholder="Select a Task Provider"
                        (selectionChange)="onProviderChange($event.value)">
                <mat-option *ngFor="let provider of taskProviderOptions" [value]="provider.Type">
                    {{provider.DisplayTitle}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="showConfigFields">

        <mat-toolbar class="small-toolbar">
            Credentials
        </mat-toolbar>
        <div class="table-box padded-container">
            <div formGroupName="Credentials">
                <app-task-provider-auth
                    [isUpdateMode]="isUpdateMode"
                    [taskProviderAuthData]="taskProviderAuthData"
                    [authFormGroup]="taskProviderFormGroup.controls['Credentials']"
                    [supportedAuthTypes]="selectedTaskProviderConfigOptions['supportedAuthTypes']"
                ></app-task-provider-auth>
            </div>
        </div>
        <mat-toolbar class="small-toolbar">
            Provider Configurations
        </mat-toolbar>
        <div class="table-box padded-container">
            <div [formGroupName]="taskProviderConfigKey">
                <div *ngFor="let field of selectedTaskProviderConfigOptions['fields']" class="layout-row">
                    <mat-form-field class="flex" [class.field-with-hint]="field.Hint">
                        <input matInput [placeholder]="field.FieldDisplayName" [formControlName]="field.FieldName"/>
                        <mat-icon matSuffix >edit</mat-icon>
                        <mat-hint *ngIf="field.Hint">
                            <mat-icon>info</mat-icon>
                            <span [innerHTML]="field.Hint"></span>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <mat-toolbar class="small-toolbar">
            Tracker Ticket Status Mapping
        </mat-toolbar>
        <div class="table-box padded-container" [formGroupName]="taskProviderConfigKey">
            <div class="layout-row">
                <mat-form-field class="flex field-with-hint">
                    <input matInput placeholder="Completed (Comma Separated)" [pattern]="commaSeparatedRegex" [formControlName]="trackerTicketStatusMap.DONE"/>
                    <mat-icon matSuffix>edit</mat-icon>
                    <mat-error *ngIf="doneStatusControl.errors && doneStatusControl.errors['pattern']">
                        It should be a comma separated string
                    </mat-error> 
                    <mat-hint> 
                        <mat-icon>info</mat-icon>
                        <span>Comma seperated list of task status representing completed task</span>
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <mat-toolbar class="small-toolbar">
            Tracker Ticket Type Mapping
        </mat-toolbar>
        <div class="table-box padded-container" [formGroupName]="taskProviderConfigKey">
            <div class="layout-row">
                <mat-form-field class="flex">
                    <input matInput placeholder="Feature (Comma Separated)" [pattern]="commaSeparatedRegex" [formControlName]="trackerTicketTypeMap.FEATURE"/>
                    <mat-icon matSuffix>edit</mat-icon>
                    <mat-error *ngIf="featureTypeControl.errors && featureTypeControl.errors['pattern']">
                        It should be a comma separated string
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="layout-row">
                <mat-form-field class="flex">
                    <input matInput placeholder="Task (Comma Separated)" [pattern]="commaSeparatedRegex" [formControlName]="trackerTicketTypeMap.TASK"/>
                    <mat-icon matSuffix>edit</mat-icon>
                    <mat-error *ngIf="taskTypeControl.errors && taskTypeControl.errors['pattern']">
                        It should be a comma separated string
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="layout-row">
                <mat-form-field class="flex">
                    <input matInput placeholder="Bug (Comma Separated)" [pattern]="commaSeparatedRegex" [formControlName]="trackerTicketTypeMap.BUG"/>
                    <mat-icon matSuffix>edit</mat-icon>
                    <mat-error *ngIf="bugTypeControl.errors && bugTypeControl.errors['pattern']">
                        It should be a comma separated string
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
