<div [formGroup]="taskProviderFormGroup" *ngIf="isInitialized">
    <div class="layout-row">
        <mat-form-field floatLabel="always" class="task-provider-select flex" [ngClass]="{'block-cursor': isUpdateMode}">
            <mat-icon matSuffix *ngIf="!isUpdateMode">edit</mat-icon>
            <mat-icon matSuffix *ngIf="isUpdateMode">block</mat-icon>
            <mat-label></mat-label>
            <mat-select [formControlName]="selectedTaskProviderKey" placeholder="Select a Task Provider"
                        (selectionChange)="onProviderChange($event.value)" [disabled]="isUpdateMode">
                <mat-option *ngFor="let provider of taskProviderOptions" [value]="provider.Type">
                    {{provider.DisplayTitle}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="showConfigFields">

        <mat-toolbar class="small-toolbar">
            Credentials
        </mat-toolbar>
        <div class="table-box padded-container">
            <div formGroupName="Credentials" [ngClass]="{'block-cursor': isUpdateMode}">
                <app-task-provider-auth
                    [isUpdateMode]="isUpdateMode"
                    [taskProviderAuthData]="taskProviderAuthData"
                    [authFormGroup]="taskProviderFormGroup.controls['Credentials']"
                    [supportedAuthTypes]="selectedTaskProviderConfigOptions['supportedAuthTypes']"
                ></app-task-provider-auth>
            </div>
        </div>
        <mat-toolbar class="small-toolbar">
            Provider Configurations
        </mat-toolbar>
        <div class="table-box padded-container">
            <div [formGroupName]="taskProviderConfigKey">
                <div *ngFor="let field of selectedTaskProviderConfigOptions['fields']" class="layout-row">
                    <mat-form-field class="flex" [ngClass]="{'block-cursor': isUpdateMode && !field.Editable}" [class.field-with-hint]="field.Hint">
                        <input matInput [placeholder]="field.FieldDisplayName" [formControlName]="field.FieldName"/>
                        <mat-icon *ngIf="!(isUpdateMode && !field.Editable)" matSuffix>edit</mat-icon>
                        <mat-icon *ngIf="isUpdateMode && !field.Editable" matSuffix>block</mat-icon>
                        <mat-hint *ngIf="field.Hint">
                            <mat-icon>info</mat-icon>
                            <span [innerHTML]="field.Hint"></span>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <mat-toolbar class="small-toolbar">
            Tracker Ticket Status Mapping
        </mat-toolbar>
        <div class="table-box padded-container" [formGroupName]="taskProviderConfigKey">
            <div class="layout-row">
                <mat-form-field class="flex field-with-hint">
                    <mat-chip-list #doneStatusChipList [formControlName]="trackerTicketStatusMap.DONE">
                        <mat-chip *ngFor="let doneValue of doneValues"
                            [removable]="true"
                            (remove)="removeChip(doneValue,doneValues,doneStatusControl)">
                            {{doneValue}}
                            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                        </mat-chip>
                        <input matInput
                            [matChipInputFor]="doneStatusChipList"
                            [matChipInputAddOnBlur]="true"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addChip($event,doneValues,doneStatusControl)"
                            placeholder="Completed"/>
                    </mat-chip-list>
                    <mat-icon matSuffix>edit</mat-icon>
                    <mat-error *ngIf="doneStatusControl.errors">
                        This field is required
                    </mat-error>
                    <mat-hint>
                        <mat-icon>info</mat-icon>
                        <span>list of task status representing completed task</span>
                    </mat-hint>
                </mat-form-field>
            </div>
        </div>
        <mat-toolbar class="small-toolbar">
            Tracker Ticket Type Mapping
        </mat-toolbar>
        <div class="table-box padded-container" [formGroupName]="taskProviderConfigKey">
            <div class="layout-row">
                <mat-form-field class="flex">
                        <mat-chip-list #featureTicketTypeChipList [formControlName]="trackerTicketTypeMap.FEATURE">
                            <mat-chip *ngFor="let featureValue of featureValues"
                                [removable]="true"
                                (remove)="removeChip(featureValue,featureValues,featureTypeControl)">
                                {{featureValue}}
                                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                            </mat-chip>
                            <input matInput
                                [matChipInputFor]="featureTicketTypeChipList"
                                [matChipInputAddOnBlur]="true"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="addChip($event,featureValues,featureTypeControl)"
                                placeholder="Feature"/>
                        </mat-chip-list>
                        <mat-icon matSuffix>edit</mat-icon>
                        <mat-error *ngIf="featureTypeControl.errors">
                            This field is required
                        </mat-error>
                    </mat-form-field>
            </div>
            <div class="layout-row">
                <mat-form-field class="flex">
                    <mat-chip-list #taskTicketTypeChipList [formControlName]="trackerTicketTypeMap.TASK">
                        <mat-chip *ngFor="let taskValue of taskValues"
                            [removable]="true"
                            (remove)="removeChip(taskValue,taskValues,taskTypeControl)">
                            {{taskValue}}
                            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                        </mat-chip>
                        <input matInput
                            [matChipInputFor]="taskTicketTypeChipList"
                            [matChipInputAddOnBlur]="true"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addChip($event,taskValues,taskTypeControl)"
                            placeholder="Task"/>
                    </mat-chip-list>
                    <mat-icon matSuffix>edit</mat-icon>
                    <mat-error *ngIf="taskTypeControl.errors">
                        This field is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="layout-row">
                <mat-form-field class="flex">
                    <mat-chip-list #bugTicketTypeChipList [formControlName]="trackerTicketTypeMap.BUG">
                        <mat-chip *ngFor="let bugValue of bugValues"
                            [removable]="true"
                            (remove)="removeChip(bugValue,bugValues,bugTypeControl)">
                            {{bugValue}}
                            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                        </mat-chip>
                        <input matInput
                            [matChipInputFor]="bugTicketTypeChipList"
                            [matChipInputAddOnBlur]="true"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addChip($event,bugValues,bugTypeControl)"
                            placeholder="Bug"/>
                    </mat-chip-list>
                    <mat-icon matSuffix>edit</mat-icon>
                    <mat-error *ngIf="bugTypeControl.errors">
                        This field is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
