.ag-grid-container {
    width: 100%;
    height: 350px;

    &.-small-height {
        height: 350px;
    }

    ag-grid-angular {
        width: 100%;
        height: 100%;
    }
}

.retrospective-feedback-title {
    margin-top: 10px;
}

.hide-clear-filter {
    display: none;
}
