<div>
    <mat-card class="no-padding-container">
        <mat-toolbar class="small-toolbar" color="primary">
            <span class="retrospective-feedback-title"><b>{{title}}</b></span>&nbsp;({{ getDisplayedRowCount() }})
            <span class="fill-remaining-space"></span>
            <button mat-button (click)="addMoreRow()"
                    *ngIf="feedbackSubType !== goalTypes.COMPLETED && feedbackSubType !== goalTypes.PENDING && sprintStatus !== sprintStates.FROZEN">
                <mat-icon>add</mat-icon>
                <span>Add New</span>
            </button>
        </mat-toolbar>
        <div class="ag-grid-container -small-height">
            <ag-grid-angular
                class="ag-theme-material custom-ag-grid"
                [gridOptions]="gridOptions">
            </ag-grid-angular>
        </div>
    </mat-card>
</div>
