<div>
  <div>
    <mat-select placeholder="Select a Member" [(ngModel)]="selectedMemberID">
      <mat-option *ngFor="let member of members" [value]="member.ID">
        {{member.Name}}
      </mat-option>
    </mat-select>
  </div>
  <div>
    <button mat-button (click)="addNewMember()">Add Member</button>
  </div>
  <div>
    <button mat-button (click)="createRowData()">Refresh Data</button>
  </div>
  <div class="ag-grid-container">
      <ag-grid-angular
          class="ag-theme-material"
          [gridOptions]="gridOptions"
          (gridReady)="onGridReady($event)"
          [stopEditingWhenGridLosesFocus]="true">
      </ag-grid-angular>
  </div>
</div>
