<mat-card>
    <mat-toolbar class="small-toolbar" color="primary">
        <b>Members &nbsp;&nbsp;({{ getDisplayedRowCount() }})</b>
        <span class="fill-remaining-space"></span>
        <button mat-button (click)="getSprintMemberSummary(true)" class="layout-side-margin">
            <mat-icon>refresh</mat-icon>
            Refresh
        </button>
        <mat-select *ngIf="sprintStatus !== sprintStates.FROZEN" placeholder="Select a Member"
                    [(ngModel)]="selectedMemberID"
                    class="tabbar-mat-select"
        >
            <mat-option *ngFor="let member of retroMembers" [value]="member.ID">
                {{(member.FirstName + ' ' + member.LastName).trim()}}
            </mat-option>
        </mat-select>
        <button *ngIf="sprintStatus !== sprintStates.FROZEN" mat-button (click)="addSprintMember()"
                class="layout-side-margin">Add Member
        </button>
    </mat-toolbar>
    <div class="ag-grid-container dynamic-grid-height -adjust-tabs">
        <ag-grid-angular
            class="ag-theme-material custom-ag-grid"
            [gridOptions]="gridOptions"
            [stopEditingWhenGridLosesFocus]="true"
            [overlayLoadingTemplate]="overlayLoadingTemplate"
            [overlayNoRowsTemplate]="overlayNoRowsTemplate"
            (gridReady)="onGridReady($event)"
            (cellEditingStarted)="onCellEditingStarted()"
            (cellEditingStopped)="onCellEditingStopped()">
        </ag-grid-angular>
    </div>
</mat-card>
