ag-grid-angular {
  width: 99%;
  height: 100%;
}

mat-select {
  width: 150px;
  line-height: 35px;
}

div {
  float: left;
  margin: 10px
}

.ag-grid-container {
  margin: 1px;
  width: 100%;
  height: 330px;
}
