.date-container {
  border-radius: 5px;
  border: 1px solid grey;
  background: #fff;
  width: 125px;
  height: 45px;
  padding: 0 0 1px 25px;
  line-height: 45px;
}

.mat-input-container {
  margin-top: -16px;
}
