:host {
  margin-top: 20px;
  display: flow-root;
}

.mat-card {
  overflow: auto;
  padding-bottom: 10px;
}

.question-group {
  margin-left: -10px;
  margin-top: -10px;
  .question-text {
    float: left;
    width: 65%;
  }
  .question-response {
    float: left;
    max-width: 25%;
    margin-left: 20px;
  }
  .comment-icon {
    float: right;
    max-width: 1%;
    font-size: 20px;
    &.add-comment {
      color: #3293be;
    }
    &.edit-comment {
      color: darkgray;
    }
  }
}

.question-comment {
  width: 100%;
}
