<ng-container>
  <div class="dashboard-container">
    <mat-toolbar class="mat-elevation-z2">
      <span>Dashboard</span>
    </mat-toolbar>
    <div class="feedback-container">
      <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile [colspan]="2" [rowspan]="1" class="new-feedback-container">
          <mat-card class="new-feedback-card">
            <mat-toolbar>
              <span>New Feedback</span>
              <span>Total: {{newFeedbackCount}}</span>
              <div class="show-more-button">
                <a routerLink="./feedbacks/" [queryParams]="{status: 0}">
                  see all
                </a>
              </div>
            </mat-toolbar>
            <app-dashboard-feedback-list
              [service]="service"
              [feedbackDetailURL]="feedbackDetailURL"
              [filters]="newFeedbackFilters"
              (newFeedbackCount)="setNewFeedbackCount($event)">
            </app-dashboard-feedback-list>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" class="draft-feedback-container">
          <mat-card class="draft-feedback-card">
            <mat-toolbar>
              <span>Draft/In Progress Feedback</span>
              <span>Total: {{draftFeedbackCount}}</span>
              <div class="show-more-button">
                <a routerLink="./feedbacks/" [queryParams]="{status: 1}">
                  see all
                </a>
              </div>
            </mat-toolbar>
            <app-dashboard-feedback-list
              [service]="service"
              [feedbackDetailURL]="feedbackDetailURL"
              [filters]="inProgressFeedbackFilters"
              (draftFeedbackCount)="setDraftFeedbackCount($event)">
            </app-dashboard-feedback-list>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" class="submitted-feedback-container">
          <mat-card class="draft-feedback-card">
            <mat-toolbar>
              <span>Submitted Feedback</span>
              <span>Total: {{submittedFeedbackCount}}</span>
              <div class="show-more-button">
                <a routerLink="./feedbacks/" [queryParams]="{status: 2}">
                  see all
                </a>
              </div>
            </mat-toolbar>
            <app-dashboard-feedback-list
              [service]="service"
              [feedbackDetailURL]="feedbackDetailURL"
              [filters]="submittedFeedbackFilters"
              (submittedFeedbackCount)="setSubmittedFeedbackCount($event)">
            </app-dashboard-feedback-list>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</ng-container>
