@import "../../core/colors";

mat-header-row {
    background-color: #f5f5f5;
}

mat-row,
mat-header-row {
    mat-cell {
        span.latest-sprint-link,
        a.retro-dashboard-link {
            color: $primary;
            display: block;
            text-decoration: none;

            &:hover,
            &:active,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}
