.retro-list-header {
  div {
    float: left;
    margin: -10px;
  }
  .action-buttons {
    float: right;
    margin: -18px;
    button {
      margin-right: 5px;
      color: white;
      background-color: #64e63c;
    }
  }
}

mat-row, mat-header-row {
  &:nth-child(odd) {
    background-color: #f5f5f5;
  }
  mat-cell {
    font-size: 13px;
    span.latest-sprint-link, span.retro-dashboard-link {
      color: #3293be;
      cursor: pointer;
    }
  }
}
