<ng-container>
    <div class="retro-list-container">
        <mat-toolbar>
            <span><b>Team Retrospectives</b></span>
            <span class="fill-remaining-space"></span>
            <div class="action-buttons">
                <button mat-raised-button color="primary" (click)="showCreateRetroModal()">Create Team Retrospective
                </button>
            </div>
        </mat-toolbar>
        <div class="layout-container">
            <div class="single-grid">
                <div class="table-container mat-elevation-z1">
                    <div class="retro-table-container">
                        <mat-table #table class="custom-mat-table -row-clickable" [dataSource]="dataSource">
                            <!-- Title Column -->
                            <ng-container matColumnDef="title">
                                <mat-header-cell *matHeaderCellDef>Retrospective Title</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <a class="retro-dashboard-link"
                                       matTooltip="Link to the Retrospective Dashboard"
                                       [routerLink]="['/retrospectives', element.ID, 'dashboard']">
                                        {{element.Title}}
                                    </a>
                                </mat-cell>
                            </ng-container>

                            <!-- Team Column -->
                            <ng-container matColumnDef="team">
                                <mat-header-cell *matHeaderCellDef>Team</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.Team.Name}}</mat-cell>
                            </ng-container>

                            <!-- Created At Column -->
                            <ng-container matColumnDef="created_at">
                                <mat-header-cell *matHeaderCellDef>Created At</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{parseToDate(element.CreatedAt)}}</mat-cell>
                            </ng-container>

                            <!-- Latest Sprint Column -->
                            <ng-container matColumnDef="latest_sprint">
                                <mat-header-cell *matHeaderCellDef>Latest Sprint</mat-header-cell>
                                <mat-cell *matCellDef="let element" (click)="navigateToLatestSprint(element)">
                                    <span matTooltip="Link to the Latest Active or Frozen Sprint Retrospective"
                                          class="latest-sprint-link">
                                        Latest Sprint
                                    </span>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <!--
                            As of now mat-table cannot have a complete row as an anchor.
                            Refer: https://github.com/angular/material2/issues/7333
                            There is a work-around for this (mentioned in the link above) but it is not a good way to achieve this.
                            TODO: Update if mat-table allows anchors for a row in future (similarly for other places).
                            -->
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
