mat-form-field {
  width: 500px;
}

.feedback-detail-container {
  mat-toolbar-row {
    color: black;
    font-size: 15px;
    max-height: 45px;
  }
}

.side-nav-content-block {
  display: none;
}

mat-sidenav-container {
  min-height: 200px;
}

.mat-list-item.active {
  border-right: groove black;
}
