
.login-card {
    max-width: 480px;
    margin: 4em auto;
    text-align: center;

    mat-form-field {
        display: block;
    }
}

.re-send-btn {
    height: 40px;
}

.timer-text {
    padding-top: 10px;
}
