<ng-container>
  <div class="feedback-list-container" *ngIf="isListLoaded">
    <mat-toolbar class="mat-elevation-z2">
      <span>Feedbacks</span>
      <span class="fill-remaining-space"></span>
      <div class="filter-wrap">
        <mat-form-field>
          <mat-label ngFor="status">Status:</mat-label>
          <mat-select multiple id="status" [(ngModel)]="filters.status" (selectionChange)="filterList()">
            <mat-option *ngFor="let choice of statusChoices" [value]="choice.value">{{choice.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-toolbar>
    <div class="feedback-event-tab-content">
      <div class="feedback-event-table-container mat-elevation-z5">
        <mat-table #table [dataSource]="dataSource">
          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Title}}</mat-cell>
          </ng-container>

          <!-- User Column -->
          <ng-container matColumnDef="user">
            <mat-header-cell *matHeaderCellDef> User</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{getUser(element.ForUserProfile)}}</mat-cell>
          </ng-container>

          <!-- User Role Column -->
          <ng-container matColumnDef="user_role">
            <mat-header-cell *matHeaderCellDef> User Role</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{getUserRole(element.ForUserProfile)}}</mat-cell>
          </ng-container>

          <!-- Duration Start Column -->
          <ng-container matColumnDef="duration_start">
            <mat-header-cell *matHeaderCellDef> Duration Start Date</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{parseToDate(element.DurationStart)}}</mat-cell>
          </ng-container>

          <!-- Duration End Column -->
          <ng-container matColumnDef="duration_end">
            <mat-header-cell *matHeaderCellDef> Duration End Date</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{parseToDate(element.DurationEnd)}}</mat-cell>
          </ng-container>

          <!-- Expiry Column -->
          <ng-container matColumnDef="expiry_date">
            <mat-header-cell *matHeaderCellDef> Expiry Date</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{parseToDate(element.ExpireAt)}}</mat-cell>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{getStatusValue(element.Status)}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"
                   (click)="navigateToFeedBack(row)"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</ng-container>
