@import "colors";

.mat-header-cell {
    font-size: 13px;
}

a.sprint-dashboard-link {
    color: $primary;
    display: block;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

.sprints-list-loading-spinner {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: #fff;
    width: 100%;
}
