mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  overflow: auto;
}

mat-grid-list {
  min-width: 600px;
}

.task-provider {
  height: 470px !important;
}

.create-retro {
  mat-form-field {
    width: 100%;
  }
  .close-icon {
    float: right;
    margin-top: -6%;
    cursor: pointer;
    mat-icon {
      font-size: xx-large;
    }
  }
}

button .mat-raised-button {
  margin-right: 5px;
  color: white;
  background-color: #3293be;
}

.project-name-hint {
  font-size: small;
}

.dialog-actions {
  float: right;
}
