<div class="create-retro" *ngIf="isDataLoaded" [formGroup]="retroFormGroup">
  <mat-toolbar>
    <div class="fill-remaining-space"></div>
    <div class="action-buttons">
      <button mat-raised-button [disabled]="!retroFormGroup.valid" (click)="createRetro()">Create Retro</button>
    </div>
  </mat-toolbar>
  <mat-card>
    <mat-card-header>
      <mat-card-title><b>Team</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field floatLabel="always">
          <mat-label></mat-label>
          <mat-select formControlName="team" placeholder="Select a Team">
            <mat-option *ngFor="let team of teamOptions" [value]="team.ID">{{team.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field floatLabel="always">
          <mat-label></mat-label>
          <input matInput type="number" formControlName="hoursPerSprint" placeholder="Specify hours per sprint">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title><b>Task Provider</b></mat-card-title>
    </mat-card-header>
    <mat-card-content [formArrayName]="taskProviderKey">
      <div *ngFor="let control of retroFormGroup.controls[taskProviderKey].controls; let providerIndex = index;">
        <div [formGroupName]="providerIndex">
          <mat-form-field floatLabel="always">
            <mat-label></mat-label>
            <mat-select [formControlName]="selectedTaskProviderKey" placeholder="Select a Task Provider"
                        (selectionChange)="onProviderChange(taskProviderKey, providerIndex)($event.value)">
              <mat-option *ngFor="let provider of taskProviderOptions" [value]="provider.Type">{{provider.DisplayTitle}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div [formGroupName]="taskProviderConfigKey">
            <div *ngFor="let field of selectedTaskProviderFields[providerIndex]">
              <mat-form-field>
                <input matInput [placeholder]="field.FieldDisplayName" [formControlName]="field.FieldName"/>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
