<ng-container>
    <mat-toolbar color="primary">
        <span><b>iReflect</b></span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <div class="login-page" *ngIf="loginUrl != ''">
        <div class="login-card">
            <mat-card>
                <mat-card-content>
                    <p>
                        <mat-error *ngIf="showError">{{errorMessage}}</mat-error>
                    </p>
                    <h2>Welcome to iReflect</h2>
                    <form [formGroup]="loginGroup" (ngSubmit)="onSubmit()">
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="Email" formControlName="email" >
                          <mat-error *ngIf="userEmail.hasError('email') && !userEmail.hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="userEmail.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" >
                            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{!hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="userPassword.hasError('minlength')">
                            Password must be at least 8 characters long.
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!loginGroup.valid || disableLoginBtn">Login</button>
                      </form>
                    <div *ngIf="[loginStates.NOT_LOGGED_IN, loginStates.LOGIN_ERROR].indexOf(authState) !== -1;then please_login else logging_in"></div>
                    <ng-template #please_login>
                        <p>OR</p>
                    </ng-template>
                    <ng-template #logging_in>
                        <p>Signing in....</p>
                        <div class="layout-row">
                            <div class="flex text-center">
                                <mat-spinner diameter="45"></mat-spinner>
                            </div>
                        </div>
                    </ng-template>
                </mat-card-content>
                <div *ngIf="[loginStates.NOT_LOGGED_IN, loginStates.LOGIN_ERROR].indexOf(authState) !== -1">
                    <button mat-raised-button color="primary" (click)="openLoginModal()">
                        {{ button_text }}
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</ng-container>
