<ng-container>
  <div class="login-page">
    <mat-card class="login-card">
      <mat-toolbar color="primary">
        <span>{{ title }}</span>
      </mat-toolbar>
      <mat-card-content>
        <p>
          <mat-error *ngIf="showError">{{errorMessage}}</mat-error>
        </p>
        <a href="{{ loginUrl }}">
          <button mat-raised-button color="primary" class="btn btn-lg btn-primary pull-xs-right">
            {{ button_text }}
          </button>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
