<div class="app-dialog" [formGroup]="sprintFormGroup">
    <h2 mat-dialog-title>Create Sprint Retrospective</h2>
    <button mat-icon-button class="close-icon" tabindex="-1" (click)="closeDialog()">
        <mat-icon>clear</mat-icon>
    </button>
    <mat-dialog-content>
        <div class="layout-row">
            <mat-form-field class="flex">
                <input matInput formControlName="title" placeholder="Sprint Title" required>
                <mat-error *ngIf="titleControl.invalid && (titleControl.dirty || titleControl.touched)">
                    Title is required.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="flex">
                <input matInput formControlName="sprintID" placeholder="Sprint ID">
            </mat-form-field>
        </div>
        <div class="layout-row">
            <div class="flex">
                <div class="mat-input-flex mat-form-field-flex">
                    <md2-datepicker #startDatePicker
                                    class="sprint-datepicker"
                                    type="datetime"
                                    placeholder="Start Date"
                                    formControlName="startDate"
                                    [openOnFocus]="true"
                                    [format]="md2DatePickerFormat"
                                    mode="portrait">
                    </md2-datepicker>
                    <button matSuffix (click)="clearValue(startDateControl)" mat-icon-button>
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
                <mat-error *ngIf="startDateControl.invalid && startDateControl.hasError('startDateShouldExist')">
                    Start Date is required when end date is provided.
                </mat-error>
            </div>
            <div class="flex">
                <div class="mat-input-flex mat-form-field-flex">
                    <md2-datepicker #endDatePicker
                                    class="sprint-datepicker"
                                    type="datetime"
                                    placeholder="End Date"
                                    formControlName="endDate"
                                    [openOnFocus]="true"
                                    [format]="md2DatePickerFormat"
                                    mode="portrait">
                    </md2-datepicker>
                    <button matSuffix (click)="clearValue(endDateControl)" mat-icon-button>
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
                <mat-error *ngIf="endDateControl.invalid && endDateControl.hasError('endDateShouldExist')">
                    End date is required when start date is provided.
                </mat-error>
            </div>
        </div>
        <mat-error *ngIf="errors.atleastOne">
            Atleast one of Start and End dates or Sprint ID fields is required.
        </mat-error>
        <mat-error *ngIf="errors.startGreaterThanEnd">
            End date should be greater than the Start date.
        </mat-error>
    </mat-dialog-content>
    <mat-dialog-actions class="dialog-actions">
        <span class="fill-remaining-space"></span>
        <button mat-raised-button color="primary" [disabled]="sprintFormGroup.invalid || disableButton"
                (click)="createSprint(sprintFormGroup.value)">Create
        </button>
        <button mat-raised-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</div>
