mat-form-field {
  width: 45%;
}

.dialog-actions {
  float: right;
}

.create-sprint {
  .close-icon {
    float: right;
    margin-top: -6%;
    cursor: pointer;
    mat-icon {
      font-size: xx-large;
    }
  }
}
