<div *ngIf="data" [formGroup]="highlightsFormGroup">
<mat-card>
  <mat-card-header>
    <mat-card-title>Good Highlights</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="highlights">
      <textarea matInput matTextareaAutosize
                placeholder="What was good in this sprint? How can we continue doing it?"
                formControlName="goodHighlights"
                (blur)="onHighlightBoxBlur(highlightTypes.GOOD)">
      </textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Okay Highlights</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="highlights">
      <textarea matInput matTextareaAutosize
                placeholder="What was okay in this sprint? How can we improve it?"
                formControlName="okayHighlights"
                (blur)="onHighlightBoxBlur(highlightTypes.OKAY)">
      </textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Bad Highlights</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="highlights">
      <textarea matInput matTextareaAutosize
                placeholder="What was bad in this sprint? How can we avoid it?"
                formControlName="badHighlights"
                (blur)="onHighlightBoxBlur(highlightTypes.BAD)">
      </textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
</div>
