<ng-container>
  <div class="feedback-events-container" *ngIf="isDataLoaded">
    <div class="feedback-event-details-container">
      <p>Title: {{ feedback_event_data.Title }}</p>
      <p>Duration Start: {{ feedback_event_data.DurationStart | date:dateFormat}}</p>
      <p>Duration End: {{ feedback_event_data.DurationEnd | date:dateFormat}}</p>
      <p>Expiry Date: {{ feedback_event_data.ExpireAt | date:dateFormat}}</p>
      <p *ngIf="feedback_event_data.SubmittedAt">Submitted At: {{ feedback_event_data.SubmittedAt | date:dateFormat}}</p>
    </div>
    <div class="feedback-form-container">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div *ngFor="let category of feedback_event_data.Categories | values" class="form-row">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ category.Title }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ category.Description }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div *ngFor="let skill of category.Skills | values" class="form-row">
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ skill.DisplayTitle }}
                      </mat-panel-title>
                      <mat-panel-description>
                        {{ skill.Description }}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div *ngFor="let question of skill.Questions; let questionNo=index">
                        <label [attr.for]="question.ID"> Question {{questionNo + 1}}. {{question.Text}}</label>
                        <div [ngSwitch]="question.Type">
                          <app-multi-choice-question [formGroup]="form" [id]="question.ID" [question]="question" *ngSwitchCase="1" [formControlName]="'' + question.ID"></app-multi-choice-question>

                          <app-grade-question [formGroup]="form" [id]="question.ID" [question]="question" *ngSwitchCase="2" [formControlName]="'' + question.ID"></app-grade-question>

                          <app-boolean-question [formGroup]="form" [id]="question.ID" [question]="question" *ngSwitchCase="3" [formControlName]="'' + question.ID"></app-boolean-question>
                        </div>
                        <mat-form-field class="form-group">
                            <textarea matInput matTextareaAutosize
                                      [formControlName]="'comment_' + question.ID"
                                      [formGroup]="form"
                                      placeholder="Comments"
                            ></textarea>
                        </mat-form-field>
                      </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="form-row">
          <button mat-button type="submit" [disabled]="!form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
