.mat-expansion-panel {
    border-bottom: 2px outset rgba(32, 177, 250, 0.91);
}

.mat-expansion-panel-body {
    margin-left: -25px;
}

mat-toolbar {
    height: 40px;
    font-size: inherit;
    margin-bottom: 10px;
}
