<div>
  <div *ngFor="let noteSection of notesSectionsList" class="table-box">
    <app-retrospective-feedback
      [title]="noteSection.LABEL"
      (resumeRefresh)="resumeRefresh()"
      (pauseRefresh)="pauseRefresh()"
      [feedbackType]="retroFeedbackTypes.NOTE"
      [feedbackSubType]="noteSection.KEY"
      [sprintStatus]="sprintStatus"
      [retrospectiveID]="retrospectiveID"
      [sprintID]="sprintID"
      [teamMembers]="teamMembers"
      [data]="sprintNotes"></app-retrospective-feedback>
  </div>
  <div class="table-box">
    <app-retrospective-feedback
      title="Things To Be Improved"
      (resumeRefresh)="resumeRefresh()"
      (pauseRefresh)="pauseRefresh()"
      [feedbackType]="retroFeedbackTypes.GOAL"
      [data]="sprintGoals"
      [teamMembers]="teamMembers"
      [sprintStatus]="sprintStatus"
      [retrospectiveID]="retrospectiveID"
      [sprintID]="sprintID"
      [feedbackSubType]="goalTypes.ADDED"></app-retrospective-feedback>
  </div>
</div>
