<ng-container>
    <mat-toolbar color="primary">
        <span><b>iReflect</b></span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <div class="login-page" *ngIf="loginUrl != ''">
        <div class="login-card">
            <mat-card>
                <mat-card-content>
                    <p>
                        <mat-error *ngIf="showError">{{errorMessage}}</mat-error>
                    </p>
                    <h2>Update Password</h2>
                    <form [formGroup]="passwordGroup" (ngSubmit)="onSubmit()">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="New password" [type]="hideFirstPassword ? 'password' : 'text'"
                                formControlName="firstPassword">
                            <mat-icon matSuffix (click)="hideFirstPassword = !hideFirstPassword">{{!hideFirstPassword ?
                                'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="password.hasError('minlength')">
                                Password must be at least 8 characters long.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Confirm new password" [type]="hideSecondPassword ? 'password' : 'text'"
                                formControlName="secondPassword">
                            <mat-icon matSuffix (click)="hideSecondPassword = !hideSecondPassword">{{!hideSecondPassword
                                ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                        <mat-error class="not-match-error" *ngIf="passwordGroup.hasError('notSame')">
                            Password do not match
                        </mat-error>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!passwordGroup.valid">Update</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</ng-container>
