
.login-card {
    max-width: 480px;
    margin: 4em auto;
    text-align: center;

    mat-form-field {
        display: block;
    }
}

.not-match-error {
    text-align: left;
    padding: 0 5px;
    font-size: smaller;
}
