/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  margin: 0;
}

mat-drawer-content {
  height: auto;
}

.custom-mat-table {
  mat-row, mat-header-row {
    &:nth-child(odd) {
      background-color: #f5f5f5;
    }
    mat-cell {
      font-size: 13px;
    }
  }
  .link-type-cell {
    color: #3293be;
    cursor: pointer;
  }
}
