mat-form-field {
    width: 100%;

    .mat-icon {
        visibility: hidden;
    }

    &:hover {
        background-color: #f4f5f7;

        .mat-icon {
            visibility: visible;
        }
    }
}

.block-cursor {
    cursor: not-allowed;
    /* stylelint-disable */
    ::ng-deep .mat-select-disabled .mat-select-trigger {
        /* stylelint-enable */
        cursor: not-allowed;
    }

    input {
        cursor: not-allowed;
    }
}
