mat-form-field {
    width: 100%;

    .mat-icon {
        visibility: hidden;
    }

    &:hover {
        background-color: #f4f5f7;

        .mat-icon {
            visibility: visible;
        }
    }
}
