{
    "env": {
        "name": "<env-name>"
    },
    "apiServer": {
        "hostUrl": "",
        "baseUrl": ""
    },
    "agGridSettings": {
        "useEnterprise": false,
        "licenseKey": ""
    }
}
