.auto-refresh-toggle {
    text-align: right;
}

.multi-table-container {
    background: #FFF;
}

.mat-tab-header {
    background: #FFF;
}

.sprint-header-box {
  .stats-box {
    flex-basis: 18%;
  }
  .box-header{
    .title {
      font-size: 18px;
    }
  }
  .info-box-content {
    p {
      font-size: medium;
    }
  }
}

.sync-failed {
    color: #FF0000;
    font-weight: 600;
}
