<ng-container>
  <div class="feedback-events-container" *ngIf="isListLoaded">
    <div class="feedback-event-stats-container">
      <p>New Feedback event count: {{feedback_event_data.new_event_count}}</p>
      <p>In Progress Feedback event count: {{feedback_event_data.in_progress_event_count}}</p>
      <p>Submitted Feedback event count: {{feedback_event_data.submitted_event_count}}</p>
    </div>
    <div class="feedback-event-list-container">
      <mat-tab-group class="feedback-event-tab-group" (selectedTabChange)="selectedTabChanged($event)">
        <mat-tab *ngFor="let tab of tabTypeList" label="{{tab.tabLabelText}}">
          <div class="feedback-event-tab-content">
            <div class="feedback-event-table-container mat-elevation-z5">
              <mat-table #table [dataSource]="dataSource">
                <!-- Title Column -->
                <ng-container matColumnDef="title">
                  <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                </ng-container>

                <!-- User Column -->
                <ng-container matColumnDef="user">
                  <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{getUser(element.profile)}} </mat-cell>
                </ng-container>

                <!-- User Role Column -->
                <ng-container matColumnDef="user_role">
                  <mat-header-cell *matHeaderCellDef> User Role </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{getUserRole(element.profile)}} </mat-cell>
                </ng-container>

                <!-- Duration Start Column -->
                <ng-container matColumnDef="duration_start">
                  <mat-header-cell *matHeaderCellDef> Duration Start Date </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{parse_to_date(element.duration_start)}} </mat-cell>
                </ng-container>

                <!-- Duration End Column -->
                <ng-container matColumnDef="duration_end">
                  <mat-header-cell *matHeaderCellDef> Duration End Date </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{parse_to_date(element.duration_end)}} </mat-cell>
                </ng-container>

                <!-- Expiry Column -->
                <ng-container matColumnDef="expiry_date">
                  <mat-header-cell *matHeaderCellDef> Expiry Date </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{parse_to_date(element.expiry_date)}} </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{getStatusValue(element.status)}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToFeedBackForm(row)"></mat-row>
              </mat-table>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</ng-container>
