<!--TODO: delete this file-->
<ng-container>
  <div class="feedback-container" *ngIf="isDataLoaded">
    <mat-card class="feedback-stats-container">
      <mat-toolbar>
        <mat-toolbar-row><span
          (click)="navigate(0)">New Feedbacks: {{feedbackData.NewFeedbackCount}}</span>
        </mat-toolbar-row>
        <mat-toolbar-row><span (click)="navigate(1)">Draft / In Progress Feedbacks: {{feedbackData.DraftFeedbackCount}}</span>
        </mat-toolbar-row>
        <mat-toolbar-row><span
          (click)="navigate(2)">Submitted Feedbacks: {{feedbackData.SubmittedFeedbackCount}}</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card>
  </div>
</ng-container>
