<div>
  <div class="sprint-task-refresh">
    <button mat-button (click)="getSprintTaskSummary(true)">Refresh Data
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div class="ag-grid-container">
    <ag-grid-angular
      class="ag-theme-material"
      [stopEditingWhenGridLosesFocus]="true"
      [gridOptions]="gridOptions"
      [overlayLoadingTemplate]="overlayLoadingTemplate"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>
