<div class="table-box">
  <mat-toolbar>
    <span><b>Tasks</b></span>
    <span class="fill-remaining-space"></span>
    <button mat-button (click)="getSprintTaskSummary(true)">
      <mat-icon>refresh</mat-icon>Refresh Data
    </button>
  </mat-toolbar>
  <div class="ag-grid-container dynamic-grid-height -adjust-tabs">
    <ag-grid-angular
      class="ag-theme-material custom-ag-grid"
      [stopEditingWhenGridLosesFocus]="true"
      [gridOptions]="gridOptions"
      [overlayLoadingTemplate]="overlayLoadingTemplate"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>
