@import "colors";

.ag-grid-container {
    width: 100%;
    height: 40vh;

    ag-grid-angular {
        width: 100%;
        height: 100%;
    }
}

.retrospect-task {
    height: 95vh;
}

.information-box {
    height: 32vh;
    overflow-y: auto;
}

.add-member {
    mat-select {
        width: 10vw;
    }
}

.issue-description {
    float: right;
    margin-bottom: 5px;

    &.show-more {
        max-height: 40px;
        overflow: hidden;
    }
}

.show-more-btn {
    color: #2196f3;
    cursor: pointer;
    float: left;
    clear: both;
}

a.task-link {
    color: $light-primary-text;
    display: inline-block;
    text-decoration: none;

    &:hover,
    &:active {
        text-decoration: underline;
    }
}
