@import "colors";
.app-dialog {
  position: relative;
  .mat-dialog-title {
    margin: -24px -24px 20px;
    padding: 15px 24px;
    background-color: $primary;
    color: #FFF;
  }
  .close-icon {
    position: absolute;
    background-color: $primary;
    color: #FFF;
    right: -13px;
    top: 10px;
  }
}
