mat-form-field {
    padding: 0 12px;
    box-sizing: border-box;
    // TODO: (Bug) .mat-form-field-underline not rendering in Webkit browsers
    // Refer "https://github.com/angular/material2/issues/7494" for details
    // transform: perspective(1px);
}

.tabbar-mat-select {
    font-size: 14px;
    background: #fff;
    padding: 3px 14px;
    border-radius: 2px;
}

.toolbar-mat-select {
    font-size: 14px;
}

md2-datepicker {
    .md2-datepicker-arrow {
        display: none !important; // hide the drop-down icon used to open the date-picker
    }
}
