mat-form-field {
  padding: 0 5px;
  box-sizing: border-box;
}

.tabbar-mat-select {
  font-size: 14px;
  background: #FFF;
  padding: 3px 14px;
  border-radius: 2px;
}

.toolbar-mat-select {
  font-size: 14px;
}
